* {
  box-sizing: border-box;
}

:root {
  --header-background: #279989;
  --primary-background: #ffc845;
  --text-primary: #000;
  --text-secondary: #fff;
  --accent: #44a080;
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  color: var(--text-secondary);
  background-color: var(--header-background);
}

.header__title {
  font-size: 1.4rem;
  font-weight: bold;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__link--bold {
  font-weight: bold;
}

.header__link,
.header__link--bold {
  color: var(--text-secondary);
  text-decoration: none;
}

main {
  height: 100%;
}

.list-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--accent);
}

.list-bar__icon,
.list-bar__bought {
  color: white;
  font-size: 1.4rem;
}

.list,
.form {
  height: 100%;
  background-color: var(--primary-background);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.item__name--strikethrough,
.item__price--strikethrough {
  text-decoration: line-through;
}

.list__divider {
  height: 1px;
  background-color: #000;
  margin: 1rem 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__delete {
  margin-left: 0.5rem;
}

.list__total {
  align-self: flex-end;
  font-size: 1.2rem;
}

.list__items {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form__title {
  font-size: 1.4rem;
  font-weight: bold;
}

.form__form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.form__button {
  border: none;
  background-color: var(--accent);
  color: var(--text-secondary);
  padding: 1rem 0.5rem;
  font-size: 1rem;
}

input[type="text"] {
  width: 50%;
  padding: 0.5rem 0.5rem;
}
